body
{
    background-color: #2c3e50;
    color: white;

}
#container
{
    width: 1024px;
    height: 100vh; 
    margin: auto;

}

img
{
    margin: 20px auto 0 auto;
    width: 200px;
    display: block;    
}

.tresc
{
    font-size: 38px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.pytaniezezdjeciem
{
    float: left;
    font-size: 55px;
}

.odpowiedzi
{
    clear: both;
}

.A, .B, .C, .D
{
    padding: 0;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    cursor: pointer;
    list-style: none;
}

.dalej
{
    width: 175px;
    height: 90px;
    display: block;
    margin: auto;
    background-color: #9b59b6;
    border-radius: 200px;
    box-shadow: 1px 5px 0 0 #8e44ad;
    text-shadow: #8e44ad 7px 7px 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 80px;
}

.hidden {
    display: none;
}

#odliczanie
{   
    width: 175px;
    color: white;
    height: 90px;
    font-size: 65px;
    margin: auto;
    background-color: #9b59b6;
    border-radius: 200px;
    box-shadow: 1px 5px 0 0 #8e44ad;
    text-shadow: #8e44ad 7px 7px 2px;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.menu
{
    margin: 90px auto 0 auto;
    width: 840px;
}

.linkbox
{
    display: inline-block;
    width: 150px;
    height: 190px;
    margin: auto;
}

.link
{
    box-shadow: 1px 5px 0 0 #c0392b;
    background-color: #e74c3c;
    border-radius: 125px;
    width: 125px;
    height: 125px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 100px;
    text-shadow: #c0392b 7px 7px 2px; 
    text-decoration: none;
}

.liststyle1
{
    float: left;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    font: 39px Roboto;
    font-weight: bold;
    text-align: center;
    background-color: #3498db;
    text-shadow: #2980b9 4px 4px 0.5px;
    box-shadow: 1px 3px 0 0 #2980b9;
    margin-right: 15px;
}

.liststyle2
{
    float: left;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    font: 39px Roboto;
    font-weight: bold;
    text-align: center;
    background-color: #f1c40f;
    text-shadow: #f39c12 4px 4px 0.5px;
    box-shadow: 1px 3px 0 0 #f39c12;
    margin-right: 15px;
}

.liststyle3
{
    float: left;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    font: 39px Roboto;
    font-weight: bold;
    text-align: center;
    background-color: #30cd73;
    text-shadow: #27ae60 4px 4px 0.5px;
    box-shadow: 1px 3px 0 0 #27ae60;
    margin-right: 15px;
}
.wyniki
{    
    display: block;
    margin: 10px auto 0 auto;
    width: 125px;
    height: 50px;
    text-align: center;
    border-radius: 75px;
    background-color: #e67e22;
    text-decoration: none;
    font-size: 40px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    text-shadow: #d35400 3px 3px 1px;
    box-shadow: 1px 3px 0 0 #d35400;    
}
h1
{
    color: white;
    font-size: 150px;
    letter-spacing: 21px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -30px;
    text-shadow: grey 3px 3px 0; 
}

h3
{   
    color: white;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h2
{
    color: white;
    font-size: 23px;
    letter-spacing: 28px;
    text-align: center; 
    margin-top: -5px;
    text-shadow: grey 2px 2px 0; 

}


div
{
    color: white;
    font-size: 60px;
}

.pkt
{
    text-align: center;
    font-size: 400px;
    padding: 0;
    margin: 94px 0 0 0;
}

table
{
    margin: 100px auto;
    text-align: center;
    font-size: 55px;
    font-family: 'Roboto';
    font-weight: bold;
    text-shadow: grey 3px 3px 0;
}

thead 
{
    background: #2980b9;
	color: #fff;
}

tbody 
{
    background: #3498db;
    font-size: 55px;
}

td
{
    padding: 5px;
}

.formularz
{   
    height: 250px;
    width: 400px;
    font-size: 50px;
    text-align: center;
    margin: 200px auto;
}

/*input[type="text"]
{
    height:40px;
    width: 200px;
    font-size: 25px;
}

input[type="submit"]
{
    
    color: white;
    border: 0;
    border-radius: 15px;
    font: 30px Roboto;
    font-weight: bold;
    text-align: center;
    background-color: #3498db;
    text-shadow: #2980b9 4px 4px 0.5px;
    box-shadow: 1px 3px 0 0 #2980b9;
    cursor: pointer;
}
*/
.label
{
    margin-top: 0;
    margin-bottom: 20px;
}

.about {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
    text-align: center;
    padding: 0;
    color: white;
    text-decoration: none;
}